/* Navbar  */

/* .nav is the main container for the navbar */
.nav {
	width: 100%;
	height: 6rem;
	border-bottom: 3px solid #f1f1f1;
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	background: #000;
	color: #fff;
	font-size: 1.5rem;
  }
  
  /* Logo styling */
  .logo {
	padding: 15px 0;
  }
  
  /* Menu items container (for desktop) */
  .nav ul {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
  }
  
  /* Individual list item styling */
  .nav ul li {
	font-size: 1.75rem;
	padding: 18px;
  }
  
  /* Hover effect for menu items */
  .nav ul li :hover {
	color: #0070f3;
	border-color: #0070f3;
  }
  
  /* Styling for Login and Register and Adopt buttons */
  .nav .loginpage, .nav .register, .nav .adopt {
	padding: 10px 20px;
	background-color: #0070f3;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 10px;
	transition: background-color 0.3s;
  }
  
  .nav .loginpage:hover, .nav .register:hover, .nav .adopt:hover {
	background-color: #0056b3;
  }
  
  /* Mobile Menu (responsive) */
  @media (max-width: 768px) {
	.nav ul {
	  flex-flow: column nowrap;
	  background-color: #000;
	  position: fixed;
	  top: 0;
	  right: 0;
	  height: 100vh;
	  width: 10rem;
	  padding-top: 3.5rem;
	  z-index: 1000;
	}
  
	/* Styling for list items inside mobile menu */
	.nav ul li {
	  font-size: 1.5rem;
	  padding: 15px;
	  text-align: center;
	}
  
	/* Styling for Login and Register and Adopt buttons in mobile view */
	.nav .loginpage, .nav .register,  .nav .adopt {
	  margin: 10px 0;
	  font-size: 1.5rem;
	  padding: 12px 20px;
	  width: 80%;
	}
  }
  
